<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/Todo.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p style="color: aliceblue;">{{errorMessage}}</p>
    </div>
    
    {{>footer}}
</body>

</html>