<!DOCTYPE html>
<html>

<head>
  <title>LOGIN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/Todo.jpg">
  <link rel="stylesheet" href="/css/styles.css">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>
  <div class="modal">
    
    <form class="modal-content">
        
    <div class="sign-in">
      <h3>LOGIN</h3>
        <label for="email">Email Id
        </label>
        <i class='fa fa-envelope'></i>
        <input type="text" id="email" name="email" placeholder="Type email Id .">
        <label for="pass">Password
        </label>
         <i class='fas fa-user-lock'></i>
        <input type="text" id="pass" name="pass" placeholder="Type your password..">

        <div id="checkUser">New User?
          <a href="/signup">Create an account</a>
        </div>
        <input type="submit" value="LOGIN" class="buttext">
     
    </div>
  </form>
  </div>
</body>

</html>