<!DOCTYPE html>
<html>

<head>
  <title>SIGNUP</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/Todo.jpg">
  <link rel="stylesheet" href="/css/styles.css">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>
  <div id="container">
    <div id="sign-in">
      <h3>CREATE NEW ACCOUNT</h3>
      <form>
        <label for="username">Username
          <i class='fas fa-portrait'></i>
        </label>
        <input type="text" id="email" name="email" placeholder="Type username.">
         <label for="email">Email
          <i class='fa fa-envelope'></i>
        </label>
        <input type="text" id="username" name="username" placeholder="Type email address.">
        <label for="pass">Password
          <i class='fas fa-user-lock'></i>
        </label>
        <input type="text" id="pass" name="pass" placeholder="Type your password..">
        <input type="submit" value="SIGNUP">
      </form>
    </div>
  </div>
</body>

</html>