<!DOCTYPE html>
<html>

<head>
  <title>SIGNUP</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/Todo.jpg">
  <link rel="stylesheet" href="/css/styles.css">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>
  <div class="modal">
    <form class="modal-content">
        
    <div class="sign-in">
      <h3>SIGN UP</h3>
        <label for="username">Username
        </label>
         <i class='fa fa-user'></i>
        <input type="text" id="username" name="username" placeholder="Type username.">
        <label for="email">Email ID
        </label>
         <i class='fa fa-envelope'></i>
        <input type="text" id="email" name="email" placeholder="Type Email Id.">
        <label for="pass">Password
        </label>
         <i class='fas fa-user-lock'></i>
        <input type="text" id="pass" name="pass" placeholder="Type your password..">
        <input type="submit" value="SIGN UP" class="buttext">
     
    </div>
  </form>
  </div>
</body>

</html>