<!DOCTYPE html>

<html>

<head>
    <title>VIEW</title>
    <link rel="icon" href="/img/Todo.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <form>
        <button class="center" type="submit" value="Submit" >CLICK HERE TO VIEW TASK</button>
        </form>
         <p id ='showData'></p>
        
        
    </div>

    {{>footer}}

    <script src="/js/read.js"></script>
</body>

</html>